<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dynamic Right Sidebar</title>
  <link rel="stylesheet" href="RightSidebar.css">
</head>
<body>
  <div class="right-sidebar">
    <div class="widget">
      <h4 id="widget-header">Title</h4>
      <div class="right-sidebar-div-1">
        <div class="right-sidebar-div-2">
          <p id="widget-content">Content</p>
        </div>
      </div>
    </div>
    <div class="widget-tags">
      <h4 id="tags-header">Tags</h4>
      <div class="widget-tags-div" id="tags-content">
        <!-- Tags will be dynamically inserted here -->
      </div>
    </div>
  </div>
  <script src="script.js"></script>
</body>
</html>
